<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box transparent">
        <div class="box-header">
          <i class="icon-picture"></i>Image Gallery
        </div>
        <div class="padded center">
          <%= render_partial "partials/sample_pages/gallery" %>
        </div>
      </div>
    </div>
  </div>
</div>