
<div align="center">
<h2 class="box-header">Bem-vindo ao Módulo Financeiro!</h2>

<br><br>          
<%= image_tag("entrada.jpg", :width => "30%", :align => "center") %>

<br><br>
<div>
Nesse módulo é possível realizar as atividades financeiras da Estágio Fácil. Os acessos encontram-se na barra lateral a sua esqurda.
</div>

<br>
<div class="section-title"><b>Funcionalidades Disponíveis</b></div>
<div style="padding-left:15px">
<li> Gerenciar Movimentações Financeiras</li>
<li> Gerenciar Contas a Pagar</li>
<li> Gerenciar Contas a Receber</li>
<li> Aprovar Pedidos de pagamentos</li>
<li> Emitir Boleto para pagamento</li>
<li> Gerenciar Contas Bancárias e Categorias</li>
</div>
</div>