
<div class="container-fluid">
  	<div class="row-fluid">
    	<div class="span12">

      		<div class="box bordered">

        		<div class="row-fluid">
          			<div class="span12">
						<div class="padded">

						<div class="section-title">Nova categoria</div>

							<%= render 'form' %>

							<%= link_to 'Voltar', categories_path , :class => 'btn btn-mini medium-blue' %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

